:root {
    --opacity-8: 0.8;
    --opacity-6: 0.6;
    --opacity-4: 0.4;
    --opacity-2: 0.2;
}

/* body {
    font-family: SourceSansPro, Arial, Helvetica, sans-serif;
} */
h1, h2, h3 {text-align: center;}

.bg-gray-100 {
    background-color: var(--bs-gray-100);
}
.bg-gray-200 {
    background-color: var(--bs-gray-200);
}

.z-index-0 { z-index: 0;}
.z-index-1 { z-index: 1;}
.z-index-2 { z-index: 2;}
.z-index-3 { z-index: 3;}
.z-index-n1 { z-index: -1;}
.z-index-n2 { z-index: -2;}
.z-index-n3 { z-index: -3;}

/* checkbox slider màu xanh */
.form-check-input + .form-check-label {color: rgba(var(--bs-dark-rgb), var(--opacity-6));}
.form-check-input:checked + .form-check-label {color: var(--bs-success);}
.form-check-input:checked {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}
.form-check-input:focus {
    outline: 4px solid rgba(var(--bs-success-rgb), var(--opacity-2));
    outline-offset: 0;
    border: none;
}

.cursor-pointer { cursor: pointer;}

/* slider màu xanh */
.slider::-webkit-slider-thumb {
    background: var(--bs-success);
}
.slider::-moz-range-thumb {
    background: var(--bs-success);
}
.slider::-ms-thumb {
    background: var(--bs-success);
}

.slider::-webkit-slider-runnable-track {
    /* background: rgba(var(--bs-success-rgb), var(--opacity-4)); */
    background: transparent;
    border: 0.1px solid var(--bs-success);
}

.slider:active::-webkit-slider-thumb {
    background: var(--bs-danger);
    box-shadow: 0px 0px 6px 4px rgba(var(--bs-danger-rgb), 0.9);
}
.slider:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0px 0px 6px 4px rgba(var(--bs-success-rgb), 0.9);
}

/* cài đặt cả position và z-index để tạo stacking context cho các element con, 
nêú không bọn nó sẽ tính z-index theo 1 thằng tổ tiên nào đó không kiểm soát được */
.slider-container {
    height: 30px;
    position: relative;
    z-index: 0;
}
.slider-container>div:first-child {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 8px;
    top: 8px;
    background-color: var(--bs-gray-200);
    border-radius: 4px;
}
.slider-container>div:nth-child(2) {
    position: absolute;
    z-index: 2;
    width: 0%;
    height: 8px;
    top: 8px;
    background-color: var(--bs-success);
    border-radius: 4px;
}
.slider-container>.slider:nth-child(3) {
    position: absolute;
    z-index: 3;
}

.form-control::placeholder {
    color: var(--bs-success);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}