:root {
    --opacity-8: 0.8;
    --opacity-6: 0.6;
    --opacity-4: 0.4;
    --opacity-2: 0.2;
}

/* body {
    font-family: SourceSansPro, Arial, Helvetica, sans-serif;
} */
h1, h2, h3 {text-align: center;}

.bg-gray-100 {
    background-color: var(--bs-gray-100);
}
.bg-gray-200 {
    background-color: var(--bs-gray-200);
}

.z-index-0 { z-index: 0;}
.z-index-1 { z-index: 1;}
.z-index-2 { z-index: 2;}
.z-index-3 { z-index: 3;}
.z-index-n1 { z-index: -1;}
.z-index-n2 { z-index: -2;}
.z-index-n3 { z-index: -3;}

/* checkbox slider màu xanh */
.form-check-input + .form-check-label {color: rgba(var(--bs-dark-rgb), var(--opacity-6));}
.form-check-input:checked + .form-check-label {color: var(--bs-success);}
.form-check-input:checked {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}
.form-check-input:focus {
    outline: 4px solid rgba(var(--bs-success-rgb), var(--opacity-2));
    outline-offset: 0;
    border: none;
}

.cursor-pointer { cursor: pointer;}

/* slider màu xanh */
.slider::-webkit-slider-thumb {
    background: var(--bs-success);
}
.slider::-moz-range-thumb {
    background: var(--bs-success);
}
.slider::-ms-thumb {
    background: var(--bs-success);
}

.slider::-webkit-slider-runnable-track {
    /* background: rgba(var(--bs-success-rgb), var(--opacity-4)); */
    background: transparent;
    border: 0.1px solid var(--bs-success);
}

.slider:active::-webkit-slider-thumb {
    background: var(--bs-danger);
    box-shadow: 0px 0px 6px 4px rgba(var(--bs-danger-rgb), 0.9);
}
.slider:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0px 0px 6px 4px rgba(var(--bs-success-rgb), 0.9);
}

/* cài đặt cả position và z-index để tạo stacking context cho các element con, 
nêú không bọn nó sẽ tính z-index theo 1 thằng tổ tiên nào đó không kiểm soát được */
.slider-container {
    height: 30px;
    position: relative;
    z-index: 0;
}
.slider-container>div:first-child {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 8px;
    top: 8px;
    background-color: var(--bs-gray-200);
    border-radius: 4px;
}
.slider-container>div:nth-child(2) {
    position: absolute;
    z-index: 2;
    width: 0%;
    height: 8px;
    top: 8px;
    background-color: var(--bs-success);
    border-radius: 4px;
}
.slider-container>.slider:nth-child(3) {
    position: absolute;
    z-index: 3;
}

.form-control::placeholder {
    color: var(--bs-success);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* button scroll top bottom */
.btn-scroll-top{
    margin-bottom: 60px;

}

.btn-scroll-top::after{
    content: '';
    display: block;
    width: 1vh;
    height: 1vh;
    border: 0.3vh solid transparent;
    border-top-color: var(--bs-second);
    border-left-color: var(--bs-second);
    transform: rotate(45deg) translate(20%, 20%);
}

.btn-scroll-bot::after{
    content: '';
    display: block;
    width: 1vh;
    height: 1vh;
    border: 0.3vh solid transparent;
    border-bottom-color: var(--bs-light);
    border-right-color: var(--bs-light);
    transform: rotate(45deg) translate(-20%, -20%);
}

/* inputbox */
.input-box {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: var(--opacity-8); */
    background-color: rgb(from var(--bs-gray-800) r g b / 0.8);
}

.input-box-content{
    width: 40%;
    margin: auto;
    padding: 0;
    opacity: 1;
    animation: zoom-in 0.5s;
    background-color: var(--bs-light);
    border-radius: 10px;
}

@media (max-width: 480px){
    .input-box-content{
        width: 96vw;
    }
}

.input-header{
    margin: 0;
    padding: 1rem;
    position: relative;
    background-color: var(--bs-gray-200);
    border-bottom: 1px solid var(--bs-gray-400);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input-title{
    color: var(--bs-danger);
    margin: 0;
}

.input-header #btn-close-input{
    float: right;
    color: var(--bs-gray-600);
    position: absolute;
    top: -5px;
    right: 20px;
    border: none;
    padding: 0;
    font-size: 2.5rem;
    background: transparent;
}

.input-header #btn-close-input:hover{
    color: var(--bs-danger);
}

.input-form{
    color: var(--bs-success);
    padding: 1rem;
    font-size: 1.2rem;
}

.input-label{
    width: 100%;
    text-align: center;
}

.input-data{
    width: 100%;
    text-align: center;
    outline-color: var(--bs-gray-100);
}

.input-data:focus{
    outline-color: var(--bs-danger);
}

.input-footer{
    display: flex;
    border-top: 1px solid var(--bs-gray-400);
    justify-content: flex-end;
    background-color: var(--bs-gray-200);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-footer #btn-ok-input{
    margin: 15px;
}

@keyframes zoom-in {
    from { transform: scale(0);}
    to {transform: scale(1);}
}

/* loginbox */
.login-box {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: var(--opacity-8); */
    background-color: rgb(from var(--bs-gray-800) r g b / 0.8);
}

.login-box-content{
    width: 40%;
    margin: auto;
    padding: 0;
    opacity: 1;
    animation: zoom-in 0.5s;
    background-color: var(--bs-light);
    border-radius: 10px;
}

@media (max-width: 480px){
    .login-box-content{
        width: 96vw;
    }
}

.login-header{
    margin: 0;
    padding: 1rem;
    position: relative;
    background-color: var(--bs-gray-200);
    border-bottom: 1px solid var(--bs-gray-400);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-title{
    color: var(--bs-danger);
    margin: 0;
}

.login-header #btn-close-login{
    float: right;
    color: var(--bs-gray-600);
    position: absolute;
    top: -5px;
    right: 20px;
    border: none;
    padding: 0;
    font-size: 2.5rem;
    background: transparent;
}

.login-header #btn-close-login:hover{
    color: var(--bs-danger);
}

.login-form{
    color: var(--bs-success);
    padding: 1rem;
    font-size: 1.2rem;
}

.login-label{
    width: 100%;
    /* text-align: center; */
}

.login-data{
    width: 100%;
    text-align: center;
    outline-color: var(--bs-gray-100);
}

.login-data:focus{
    outline-color: var(--bs-danger);
}

.login-footer{
    display: flex;
    border-top: 1px solid var(--bs-gray-400);
    justify-content: flex-end;
    background-color: var(--bs-gray-200);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-footer .login-btn{
    margin: 15px;
}
